.counter {
  margin: auto;
  width: 50%;
  text-align: center;
}
.action button{
  border: none;
  color: white;
  padding: 5px 8px;
  margin: 0px 4px
}
.increment {
  background: #ff6b6b;
}
.decrement{
  background: #289236;
}
.reset{
  background-color: #212529;
}
